$main: #3417c6;
$main-light: #1e6cf7;
$secondary: #2ae89b;
$white: #fff;
$black: #000000;
$white-dark: #eeefbc;
$dark: #2a2f33;

$border-light: #636363;


$team-leader: #ea5545;
$web-developer: #f46a9b;
$wet-lab: #ef9b20;
$dry-lab: #edbf33;
$graphic-design: #363445;
$entrepreneurship: #bdcf32;
$fundraiser: #de25da;
$lab-instructor: #27aeef;
$graphic-design: #b33dc6;
$human-practices: #87bc45;
$public-relations: #b30000;